@mixin flexcenter($direction,$bg){ //Basicamente ele age como uma função, e suporta adição de parametros
    display:flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;  
    flex-direction:$direction; 
    background: $bg;
}


header{
    @include flexcenter(row,green);  
    color:white;
    button{
        background: $secondary;
        &:hover{ // & é usado para pegar o elemento antecessor e adicionar uma propriedade 
            background: yellow;
        }
    }
    p{
        color: black;
    }
    h1{
        color: purple;
    }
}

.contato{
    background: $primary;
}